<html>
  <head>
    <title>Image Gallery :: Backbone.js Screencast</title>
    <script src="/javascript/jquery.min.js" type="text/javascript"></script>
    <script src="/javascript/jquery.tmpl.js" type="text/javascript"></script>
    <script src="/javascript/json2.js" type="text/javascript"></script>
    <script src="/javascript/underscore.js" type="text/javascript"></script>
    <script src="/javascript/backbone.js" type="text/javascript"></script>
    <script src="/javascript/backbone.modelbinding.js" type="text/javascript"></script>
    <script src="/javascript/backbone.marionette.js" type="text/javascript"></script>
    <script src="/javascript/imagegallery.js" type="text/javascript"></script>

    <link rel='stylesheet' href='/css/imagegallery.css' type='text/css'>

    <script type="text/x-jquery-tmpl" id="image-preview-template">
      <li>
        <a href="#">
          <img src="${url}" width="150" height="100" alt="${description}" {{if selected}}class="selected"{{/if}}>
          <span class="image-label">${name}</span>
        </a>
    </script>

    <script id="image-view-template" type="text/x-jquery-tmpl">
      <h2>${name}</h2>
      <div class="nav-next"><a href="#">&lt;</a></div>
      <div class="nav-previous"><a href="#">&gt;</a></div>
      <img src="${url}" width="300" height="200" alt="${description}">
      <div class="image-footer">
        <div class="description">${description}</div>
        <div class="edit">
          <a href="#images/${id}/edit">Edit</a>
        </div>
      </div>
    </script>

    <script type="text/x-jquery-tmpl" id="edit-image-template">
      <h1>Edit Image #${id}</h1>
      <ul>
        <li>
          <label for="image-url">Image Url: </label>
          <input type="text" id="url" name="url" value="${url}">
        </li>
        <li>
        <label for="preview">Preview: </label>
        <div id="image-preview">
          <img id="preview" src="${url}">
        </div>
        </li>
        <li>
          <label for="name">Image Name: </label>
          <input type="text" id="name" name="name" value="${name}">
        </li>
        <li>
          <label for="description">Description: </label>
          <textarea id="description" name="description">${description}</textarea>
        </li>
        <li class="save-cancel">
          <a href="/" id="cancel">cancel</a>
          <input type="submit" id="save" name="Save" value="Save">
          <div id="delete-image">
            <a href="#">delete</a>
          </div>
        </li>
      </ul>
    </script>

    <script type="text/x-jquery-tmpl" id="add-image-template">
      <h1>Add Image</h1>
      <ul>
        <li>
          <label for="image-url">Image Url: </label>
          <input type="text" id="url" name="url">
        </li>
        <li>
        <label for="preview">Preview: </label>
        <div id="image-preview">
          <img id="preview">
        </div>
        </li>
        <li>
          <label for="name">Image Name: </label>
          <input type="text" id="name" name="name">
        </li>
        <li>
          <label for="description">Description: </label>
          <textarea id="description" name="description"></textarea>
        </li>
        <li class="save-cancel">
          <a href="/" id="cancel">cancel</a>
          <input type="submit" id="save" name="Save" value="Save">
        </li>
      </ul>
    </script>

    <script id="error-view-template" type="text/x-jquery-template">
      <h1>Error</h1>
      <p>
        ${message}
      </p>
    </script>

    <script language="javascript">
      var imageData = <%= images.to_json %>;

      $(function(){
        ImageGallery.start({
          imageData: imageData
        });
      });
    </script>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <ul id="menu">
          <li><a href="#images/new">Add Image</a>
        </ul>
      </div>
      <div id="main">
      </div>
      <div id="sidebar">
        <div id="image-list">
        </div>
      </div>
      <div id="footer">Copyright ©2011 <a href="http://www.pragprog.om">The Pragmatic Programmers</a>.</div>
    </div>
  </body>
</html>
